
/* Colors */
$main-back: #f5f5f2;
$sidebar-back: #191919;
$sidebar-color: #fff;
$sidebar-link-active-back: #282828;
$nav-bar-back: #fff;
$page-back: #fff;
$sidebar-link-hover: #f58220;
$main-font: #979797;
$border-color: #e3e3e3;
$dark-border: #323232;
$sidebar-font: #323233;
$notification: #F58220;
$link: #56819F;
$online: #04AE00;
$blue: rgb(5, 80, 114);
$orange: orange;
$green: green;
$button-grey: #e3e3e3;
$hover-link: #f1f3f3;



/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$title-font: 'Dancing Script';