@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $main-back;
}


h3 { 
  color: $main-font;
  font-family: $brand-font;
  font-size: 1em;
  font-weight: 400;
  padding: 10px 0;
  margin-left: 10px;
  border-bottom: 1px solid $border-color; // przesuwa się z marginesem tytułu
}
.sidebar {
    width: 200px;
    background: $sidebar-back;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: $brand-font;
    font-size: 14px;

    a {
      display: block;
      padding: 10px;
      width: 100%;
      text-decoration: none;
      color: $main-font;
      background: 3px solid transparent;

    
      &:hover {
          background: $sidebar-link-active-back;
          border-left: 3px solid $sidebar-link-hover;
          color: $sidebar-color;
      }

        span {
          margin: 0 10px;
       }
    }
  }

  .logo {
    display: flex;
    font-family: $title-font;
    color: white;
    margin-bottom: 20px;

    h1 { 
      font-size: 28px;
      margin: 0 40px 0 20px;
    }

    .fa-bars {
      color: $main-font;
      font-size: 20px;
      margin: 10px 0 0 10px;
    }  
}

.dashboard {
  width: 100%;
  margin: 0 auto;

}

.manager { 
  margin-top: 20px;
  border-top: 2px solid $dark-border;
  color: $main-font;

    .manager-inner {
      display: flex;
      align-items: center;
      position: relative;  
    }

    h4 {
      margin: 20px 0 10px 10px;
      font-size: 14px;
      font-family: $brand-font;
      font-weight: 200;
      color: $main-font;
    }

    a { // CENTER TEKST W STOSUNKU DO AVATARA ? 
      margin-left: 10px;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      color: $link;
    }
    
    .avatar { 
      object-fit: cover;
      position: relative;
      margin-left: 15px;
      margin-right: 15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .online-dot {
      height: 15px;
      width: 15px;
      background-color: $online;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: 40px;
      margin-left: 0;
      z-index: 1;
  }
}

.nav-bar {
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  background: $nav-bar-back;
  z-index: 0;
}

main {
  height: 100%;
  width: calc(100% - 200px);
  margin-left: 200px; // tyle ile sidebar
  margin-top: 70px; // navbar
  padding: 20px;
}

main .page {
  background: $page-back;
  height: 100%; // czy px ??? 
  margin-bottom: 20px;
}

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 100%;
  width: calc(100%, -200px);
  margin-left: 200px;
  border-bottom: 1px solid $border-color;
  color: $main-font;

    a {
      text-decoration: none;
    }

    a:visited {
      color: $main-font;
    }
}

.box > div {
  padding: 15px;
  border-left: 1px solid $border-color;

}

.wallet span, .account span {
  margin-right: 15px; 
 
}

.arrow { 
  margin-left: 15px;
  border-left: white;
}

.notification {
  border-left: 1px solid $border-color;
  border-radius: 2px;
  padding: 15px 25px;
  position: relative;
  background-color: white;
  text-decoration: none;
}

.badge {
    height: 7px;
    width: 7px;
    background-color: $notification;
    border-radius: 50%;
    position: absolute;
}

.account {
  margin-right: 15px;

    a {
      color: blue;
    }

}

.date-picker {
  width: 100%; 
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-color;

    input {
      margin: 3px;
    }
  
  .date-button { 
    text-decoration: none;
    color: white;
    font-weight: 1 00;
    background-color: $notification;
    border-radius: 5px;
    height: 40px;
    min-width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    margin-left: 10px;

  }
}

.content-table {
  width: 100%; 
  display: flex;
  justify-content: center;
  text-align: center;
  border-spacing: 15px;
  padding: 10px;
    td { 
      border-bottom: 1px solid $border-color;
    }
}

.links-table { 
  width: 60%;
  tr  {
    border-bottom: 2px solid $dark-border;
    width: 100%;
    height: 50px;

     &:hover {
        background-color: $button-grey;
      }
  }

  td {
    padding: 20px;

    a {
      color: $blue;
    }
  }
}


.table-wrapper {
  max-width: 100%;
  width: 100%;
  margin: 15px;
}

.table-data { // ustawienie pod sobą 2x2 
  display: flex;
  margin: 0 auto; 
  justify-content: center;
  max-width: 560px;
  flex-wrap: wrap;

    .cell { 
      width: 250px;
      margin: 15px;
      display: inline-flex;
      flex-shrink: 0;
      justify-content: space-between;
      border-bottom: 2px solid $border-color;
    }

    .name { 
      font-family: $brand-font;
      color: $main-font;
      font-weight: bold;
    }
}

.add-button { 
    margin: 20px 500px 20px;
    font-family: $brand-font;
    text-decoration: none;
    color: white;
    font-weight: 100;
    background-color: $notification;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}


.content-tabe { 
  width: 100%;
  width: 100%;	  
  max-width: 100%;
  overflow-x: auto;	  
  margin: 15px;
}

.earnings-title { 
  font-family: $brand-font;
  font-size: 18px;
  margin: 50px 0 0 200px;
  color: $main-font;
  font-weight: bold;
}


.earnings-pic {
  margin: 30px 0 0 300px;

}


.table-links { 
  width: 100%; 
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 

table {
  border-collapse: collapse;
  width:60%;
  border-top: 1px solid $border-color;
}

tr {
  border-bottom: 1px solid $border-color;
  width: 100%;
  height: 50px;

  &:hover {
    background-color: $hover-link;
  }
}

tr:hover td .icon{
  opacity: 1;
// kolor linku orange ?? 
}

td { 
  padding: 20px;
  color: $main-font;
  font-family: $brand-font;
  font-weight: bold;
  
  .icon {
    opacity: 0;
    margin-left: 20px;

    &:hover { 
      color: orange;
    }
  }

  a {
    color: $blue;
    margin-left: 80px;
    font-weight: lighter;

    &:hover {
      color: $blue;
    }	   
  }
}    

